body{
 background-size: cover;
}
label{
    color: black;
    display: block;
    box-sizing: border-box;
}
h1{
    margin: 0;
    padding: 0;
    color: blue;
    text-align: center;
    justify-content: center;
    background: rgb(150, 183, 223);
    box-shadow: 20px 20px 20px 5px rgba(0,0,0,0.7);

    
}
.container{
    width: 1000px;
    margin:60px;
    padding: 2px;
    align-items: center;
    animation:  wave 4s infinite linear;
}
input{
    width: 80%;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 3px solid rgb(241, 16, 16);
}
input:focus{
    outline: none;
    border: 3px solid black;
}
button{
    border: rgb(214, 104, 104);
    border-radius: 10px;
    color: rgb(85, 85, 221);
    width: 30%;
	margin: 10px;
	padding: 5px;
    transition: ease-in-out;
}
button:hover{
    color: rgb(241, 231, 227);
    background: scroll rgb(26, 25, 27);
    width: 30%;
    height: 20%;
}
@keyframes wave{
    0%{
        transform: translate(-0% ,-25%);
    }
    50%{
        transform: translate(-2% ,-5%);
    }
    75%{
        transform: translate(-3% ,-5%);
    }
    100%{
        transform: translate(-5% ,-5%);
    }
}
.container:hover .container:before,
.container:hover .container:after{
    top: -45%;
    
}
