html{
    font-size: 10px;
    background-size: cover;
}
body ,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.keys{
    display:flex ;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key{
    border: .4rem solid rgb(247, 75, 7);
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem, .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: rgba(5, 137, 253, 0.707);
    background: rgba(57, 42, 42, 0.4);
    text-shadow:  0 0 .5rem black;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #f7db09;
}

kbd{
    display: block;
    font-size: 4rem;

}
.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #11e7e0;
}
